html, body {
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: orange;
	background: -webkit-linear-gradient(orange, white, white);
	background: -o-linear-gradient(orange, white, white);
	background: -moz-linear-gradient(orange, white, white);
	background: linear-gradient(orange, white);
}

#header {
	font: 24pt "Verdana", sans-serif;
	color: white;
	text-align: center;
}

#wrapper {
	position: relative;
	/*background-color: white;
	border-left: 1px solid #000;
	border-right: 1px solid #000;*/
	width: 90%;
	height: 100%;
	max-width: 950px;
	min-height: 100%;
	margin: 0 auto;
	padding: 7px;
	/*padding-bottom: 46px;*/
}

.box {
	background-color: white;
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	border-top: 8px solid #ff8020;
	margin-bottom: 10px;
	padding: 5px;
	padding-top: 10px;
	box-shadow: 5px 5px 3px rgba(30, 30, 30, 0.25);
	border-radius: 0 0 5px 5px;
}

.upper-box {
	/*border-radius: 5px 5px 0 0;*/
}

.lower-box {
	/*border-radius: 0 0 5px 5px;*/
}

.botoes-enviar {
	/*position: absolute;
	bottom: 10px;
	width: 100%;
	max-width: 950px;*/
	text-align: center;
}

.toast {
	display: none;
	position: fixed;
	top: 10px;
	width: 90%;
	max-width: 950px;
}
